.packListSelect {
	list-style-type:none;
	padding: 0 5px;
	margin: 0 0;
}

.packListSelectItem {
	font-size:12px;
}

.applyLink {
	font-size:14px;
	margin-left:20px;
}

.createLink {
	font-size:12px;
	font-style:italic;
	margin-left:7px;
}

.newWolfpackInput {
	height:15px!important;
	font-size:12px!important;
	border-radius:0!important;
	padding:0 0 0 0!important;
	margin-left:7px;
	background-color: transparent!important;
	border-style: solid!important; 
	border-width: 0px 0px 1px 0px!important;
	border-color: darkred;
	box-shadow:none!important;
}/****************************** Body Style ***********************/

html,body {
	height:100%;
	margin:0px;
	padding:0px;
	background-color: /*#f6f4f5*/ #E6EBEA;
}

body {
	overflow-y:scroll;
}

#full {
	background:#0f0;
	height:100%
}

button, input[type="button"] {
	width:auto;
/* 	background-color:#ddd; */
	background-color:rgba(255,255,255,0.3);
	border:solid 1px;
	border-color:#666;
	border-radius:13px;
	min-height:30px;	
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	margin-left:2px;
	margin-right:2px;
}

button, input[type="button"]:hover {
	background-color:rgba(255,255,255,0.7);
/* 	border:solid 3px; */
	cursor:pointer;
	box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}

input[type="text"], input[type="password"] {
	width:250px;
	min-height:auto;
	padding:6px 12px 6px 12px;
	font-size:16px;
	line-height:1;
	color:#333;
	background-color: /*#ccc*/ #ddd;
	border:0;
	transition:all .2s ease-in-out;
	border-radius:13px;	
	box-shadow:inset 0 1px 2px rgba(0,0,0,.2);	
	outline: none;
}

input[type="text"]:focus, input[type="password"]:focus {
	color:black;
	background-color:#fff;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
  font-style:italic;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999;
  font-style:italic;
}

textarea, .textarea-div {
	background-color:rgba(200,200,200,0.5);
	border:0;
	width:100%;
	height:100%;
	font-size:14px;
	line-height:1;
	color:#333;
	padding:6px 6px 6px 6px;
	border-radius:13px;
	white-space: pre-wrap;
	word-break:break-all;
	word-wrap:break-word;
	text-align:left;
}

textarea:focus, .textarea-div:focus {
	color:black;
	background-color:rgba(255,255,255,0.5);
}

.howling-back {
	position:fixed;
	left:-30px;
	bottom:-100px;
	opacity:0.15;
}
.CommaSeperatedListItem {
	font-size:15px;
	font-style:italic;
}
.filesList {
	list-style-type:none;
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
	background-color:rgba(256,256,256,0.5);
}

.fileDragBox,.fileDragBoxHover {
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

.fileDragBoxHover {
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

.filelistItem {
	font-size:12px;
}

.filelistItemData {
	font-size:10px;
}

h1, h2
{
	font-size: 1.5em;
	font-weight: normal;
}.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center;    
    background:#880000; border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}.eWolfTitle {
	padding-left:10px;
	font-size:30px;
	font-weight:bold;
/* 	color:#af9c7c; */
	color:#555;
	width:95%;
}

.selectableBox {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

.selectableBox:hover {
	text-shadow: 0 0 0.3em grey;
	text-decoration:underline;
}

.aLink {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

.aLink:hover {
	color:blue;
	text-decoration:underline;
}

.errorArea {
	color:red;
	font-size:11px;
	padding-left: 10px;
	vertical-align:middle;
}

.idBox {
	font-size:10px;
	color:#444;
	font-style:italic;
	font-weight:normal !important;
	padding-left:5px;
}
.preMessageBox {
	width:30px;
	font-size:12px;
}

.timestampBox {
	width:140px;
	float:right;
	font-size:12px;
	color:#222;
}

.messageBox {
	text-align:left;
	font-family:Georgia, Times, serif;
	padding-left:15px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:5px;
	font-size:16px;
	color:black;
	background:rgba(254, 255, 155, 0.65); /* R, G, B, A */
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
}

.messageList {
	list-style:none;
	font-family:Georgia, Times, serif;
	font-size:22px;
}

.messageListItem {
	display:block;
	text-decoration:none;
	color:#000000;
	background:rgba(255, 255, 255, 0.65); /* R, G, B, A */
	line-height:30px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#CCCCCC;
	padding-left:10px;
	cursor:pointer;
}

.messageListItem:hover {
	color:#FFFFFF;
	background-image:url(hover.png);
	background-repeat:repeat-x;
}.loginFieldDescription {
	vertical-align:text-top;
	text-align:right;
	padding-top:6px;
}/*************************** Main Frame Style ********************/

.applicationClass {
}

.applicationContainer {
	opacity:0;
	position:absolute;
	width:100%;
	min-height:100%;
	text-align:justify;
}

.mainFrameCSS {
	top:50px;
	left:170px;
	right:0;
	bottom:0;
	z-index:998;
	position:absolute;
	float:left;
	min-width:300px;
	overflow-y:visible;
}

.loadingClass {
	background-color:black;
	opacity: 0.5;
	border-radius:13px;
	padding:2px 12px 2px 12px;	
	margin: 0px 2px 5px 0px;
	font-size:16px;
	color:white;
	display:none;
	overflow:hidden;
	z-index:1;
	position:absolute;
	width:96%;
}

.showMoreClass {
	background-color:white;
	color:black;
	text-align:center;
	opacity: 0.7;
	border-radius:13px;
	padding:2px 12px 2px 12px;	
	margin: 0px 2px 5px 0px;
	font-size:16px;
	overflow:hidden;
	cursor:pointer;
}
/****************************** Menu Style ***********************/
.currentMenuSelection {
	/*font-size:18px;*/
	font-weight:bold;
	cursor:default !important;
}

.sideMenu {
	background-color:white;	
	opacity:0.7;
	width:200px;
	overflow:hidden;
	height:1500px;
	margin:0;
	padding:5px 0 0 0;
	font-size:20px;
	color:black;
	font-family:Arial;
	
	top:45px;right:0;left:-35px;z-index:999;
	position:fixed;	
}

.menuListTitle {	
	margin-left:37px;
	max-height:7px;
}

.shadow-bar {
	-webkit-box-shadow:2px 0 3px rgba(0,0,0,.25);
	-moz-box-shadow:2px 0 3px rgba(0,0,0,.25);
	box-shadow:2px 0 3px rgba(0,0,0,.25);
}

.sideMenuBack {
	background-color:transparent;	
	z-index:0;
}

#menu {
	width:200px;
	font-family:Georgia, Times, serif;
	font-size:15px;
}

#menu ul {
	list-style:none;
}

#menu ul li { }
#menu ul li a {
	display:block;
	text-decoration:none;
	color:#000000;
	background-color:#FFFFFF;
	line-height:30px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#CCCCCC;
	padding-left:10px;
	cursor:pointer;
}

#menu ul li a:hover {
	color:#FFFFFF;
	background-image:url(hover.png);
	background-repeat:repeat-x;
}

#menu ul li a strong {
	margin-right:10px;
}

#btnShowMenu, #btnHideMenu {
	border:none;
	min-height:0!important;
	background-color:rgba(0,0,0,0.9);
	color:white;
	
	margin-right:2px;
	margin-top:2px;
	
	padding-right:2px;
	padding-left:0px;
	
	position:relative;
	width:20px;
	height:20px;	
}

.refreshButton {
	/*display:none;*/
	width:18px !important;
	height:18px !important;
	/*float:right;*/
	opacity:0.7;
	cursor:pointer;
}

.refreshButtonArea {
	/*display:none;*/
	width:20px !important;
	height:20px !important;
	float:right;
	padding-top:5px;
	padding-right:5px;
}

.toggleButton {
	max-width:25px;
	height:20px !important;
}

.toggleButtons {
	text-align:right;
}
.newMessageBoxClass {
	position:absolute;
	top:1px;
	left:1px;
	right:2px;
	bottom:2px;
	background-color:rgba(0,0,0,1);
	opacity:0;
	z-index:auto;
	border-radius:13px;
	color:white;
	padding-top:50px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
}

.newMainTable {
	height:100%;
	padding-left:12px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:12px;
	margin-right:5px;
}

.newMailAlt {
	vertical-align:text-top;
	text-align:right;
	padding-top:6px;
	width:1%;
}.postBox {
	font-family:Georgia, Times, serif;
	padding-left:15px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:5px;
	font-size:16px;
	color:black;
	background:rgba(254, 255, 155, 0.65); R, G, B, A
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
}

.postList {
	list-style:none;
	/*width:400px; */
	font-family:Georgia, Times, serif;
	font-size:22px;
}

.postListItem {
	display:block;
	text-decoration:none;
	color:#000000;
	line-height:30px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#CCCCCC;
	padding-left:10px;
}

.senderBox {
/* 	display:block; */
	text-decoration:none;
	color:#000000;
	padding-left:10px;
	cursor:pointer;
}

.senderBox:hover {
	color:blue;
	text-decoration:underline;
}.TagClass {
	background-color:#999;
	color:white;
	border:1px solid #222;
	border-radius:5px;
	padding-right:5px;
	padding-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
	width:auto !important;	
	position:relative;
/* 	height:auto !important; */
	vertical-align:middle;
}

.ui-progressbar {
	position:absolute;
	top:0;
	left:0;
	background-color:#999!important;
	border-style: none!important; 
	border-radius: 5px;
	z-index:1;
}

.TagNoMultiRow {
	display:inline-block;
}

.TagErrorClass {
	background-color:#F99 !important;
	color:black !important;
}

.TagOKClass {
	background-color:#9F9 !important;
	color:black !important;
}

.TagNonRemoveable > .TagDeleteClass {
	display:none;
}

.TagWithImage > .TagDeleteClass {
	vertical-align:middle;
	line-height:50px;
}

.TagDeleteClass {
	text-decoration:none;
	color:black;
	cursor:pointer;
	border:1px solid #222;
	border-width: 0px 1px 0px 0px;
	padding-right:5px;
	margin-right:5px;
	opacity:0.5;
	display:inline-block;	
}

.TagDeleteClass:hover {
	opacity:1;
}

.seachListClass {
	margin-top:5px;
	margin-bottom:5px;
}.titleArea {
	background-color:rgba(256,256,256,0.65);
	border-radius:13px;
/* 	width:99%; */
	font-style:italic;
	padding-left:12px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:12px;
	margin-right:5px;
}

.titleTable {
	width:100%;
}

.titleTextArea {
	text-align:left;
}

.titleFunctionsArea {
	text-align:right;
}

.titleBottomPart {
	margin-left:25px;
}/**************************** Top Bar Style *********************/
.topbar {
	background-color:/*black*/ whitesmoke;
	opacity: 0.70;
	height:45px;
	min-width:750px;
	padding:0px 0px 0px 0px;
	overflow: hidden;
	
	z-index:10000;
}

.shadow-top {
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow:0 2px 3px rgba(0,0,0,.25);
	box-shadow:0 2px 3px rgba(0,0,0,.25);
}

.topbar-fixed {
	position:fixed;
	top:0;right:0;left:0;z-index:1000;
}

.topbar-absolute {
	position:absolute;
	top:0;left:0;
	width:750px;
}

.logoutLink {
	padding:1px 12px 1px 12px;	
	font-size:12px;
	color:black;
	vertical-align:middle;
	position:fixed;
	top:25px;right:5px;	
	float:left;
}

.main-eWolf-title {
	float:left;
	width:160px;
	font-size:40px;
	font-weight:bold;
	color:black;
	text-align:center;
	margin-right:15px;
}

.main-eWolf-title A:link {
	text-decoration: none;	
	color:black;
}

.main-eWolf-title A:visited {
	color:black;
}
.main-eWolf-title A:active {
	color:black;
}

.title-bar {
	height:45px;
	float:left;
	padding:7px 0 8px 0;
}
